<div class="my-3">
    <h2 class="text-center">{{"Students_list"|translate}} ({{ (showOnlyMyStudents ? "Only_my_students" : "All_students")|translate}})</h2>
    <div class="row row-cols-sm-2 g-3">
      <div>
        <button class="btn btn-success w-100" (click)="openCreateStudentModal()">
          {{"Create_student"|translate}}
        </button>
      </div>
      <div>
        <button class="btn btn-primary w-100" (click)="toggleStudents()">
          {{ (showOnlyMyStudents ? "Show_all_students" : "Show_only_my_students")|translate}}
        </button>
      </div>
    </div>
</div>
<hr>
<div class="row row-cols-lg-4 row-cols-sm-2">
  <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="Name"
        [placeholder]="'Name'|translate"
        [(ngModel)]="filters.Name"
        (ngModelChange)="filterStudents()"
        />
        <label for="Name">{{"Name"|translate}}</label>
      </div>
  </div>
  <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="Mobile"
        [placeholder]="'Mobile'|translate"
        [(ngModel)]="filters.Mobile"
        (ngModelChange)="filterStudents()"
        />
        <label for="Mobile">{{"Mobile"|translate}}</label>
      </div>
  </div>


<!-- 
    Commented because not mentioned in the task,
    but I can implement it anyway 
 -->
  <!-- <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="Email"
        placeholder="Email"
        [(ngModel)]="filters.Email"
        (ngModelChange)="filterStudents()"
        />
        <label for="NationalID">Email</label>
      </div>
  </div> -->

  <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="NationalID"
        [placeholder]="'National_ID'|translate"
        [(ngModel)]="filters.NationalID"
        (ngModelChange)="filterStudents()"
        />
        <label for="NationalID">{{'National_ID'|translate}}</label>
      </div>
  </div>

  <div>
    <div class="form-floating mb-3">
        <input type="number"
        class="form-control"
        id="Age"
        [placeholder]="'Age'|translate"
        [(ngModel)]="filters.Age"
        (ngModelChange)="filterStudents()"
        />
        <label for="Age">{{"Age"|translate}}</label>
      </div>
  </div>
</div>
<div>
 
</div>
<div class="overflow-x-auto">
    <table class="table">
        <thead>
          <tr>
            <th>{{"ID"|translate}}</th>
            <th>{{"Name"|translate}}</th>
            <th>{{"Mobile"|translate}}</th>
            <th>{{"Email"|translate}}</th>
            <th>{{"National_ID"|translate}}</th>
            <th>{{"Age"|translate}}</th>
            <th colspan="2">{{"Actions"|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.ID }}</td>
            <td>{{ student.Name }}</td>
            <td>{{ student.Mobile }}</td>
            <td>{{ student.Email }}</td>
            <td>{{ student.NationalID }}</td>
            <!-- <td>{{ student.Age | translateNumber }}</td> -->
            <!-- 
              Commented because UI didn't look that good with ID in English
              and the age in Arabic
             -->
            <td>{{ student.Age }}</td>
            <td>
              <button class="btn btn-warning" [routerLink]="'../edit/'+student.ID">
                <a>
                  {{"Edit"|translate}}
                </a>
              </button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="openDeleteStudentConfirmation(student.ID)">
                <a>
                  {{"Delete"|translate}}
                </a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
</div>
