<div class="my-3">
    <h2 class="text-center">Students List Table</h2>
    <button class="btn btn-success my-2 w-100" (click)="openCreateStudentModal()">
      Create Student
    </button>
</div>
<div class="row row-cols-lg-4 row-cols-sm-2">
  <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="Name"
        placeholder="Name"
        [(ngModel)]="filters.Name"
        (ngModelChange)="filterStudents()"
        />
        <label for="Name">Name</label>
      </div>
  </div>
  <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="Mobile"
        placeholder="Mobile"
        [(ngModel)]="filters.Mobile"
        (ngModelChange)="filterStudents()"
        />
        <label for="Mobile">Mobile</label>
      </div>
  </div>


<!-- 
    Commented because not mentioned in the task,
    but I can implement it anyway 
 -->
  <!-- <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="Email"
        placeholder="Email"
        [(ngModel)]="filters.Email"
        (ngModelChange)="filterStudents()"
        />
        <label for="NationalID">Email</label>
      </div>
  </div> -->

  <div>
    <div class="form-floating mb-3">
        <input type="text"
        class="form-control"
        id="NationalID"
        placeholder="National ID"
        [(ngModel)]="filters.NationalID"
        (ngModelChange)="filterStudents()"
        />
        <label for="NationalID">National ID</label>
      </div>
  </div>

  <div>
    <div class="form-floating mb-3">
        <input type="number"
        class="form-control"
        id="Age"
        placeholder="Age"
        [(ngModel)]="filters.Age"
        (ngModelChange)="filterStudents()"
        />
        <label for="Age">Age</label>
      </div>
  </div>
</div>
<div class="overflow-x-auto">
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>NationalID</th>
            <th>Age</th>
            <th colspan="1">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.ID }}</td>
            <td>{{ student.Name }}</td>
            <td>{{ student.Mobile }}</td>
            <td>{{ student.Email }}</td>
            <td>{{ student.NationalID }}</td>
            <td>{{ student.Age }}</td>
            <td>
              <button class="btn btn-warning" [routerLink]="'../edit/'+student.ID">
                <a>
                  Edit
                </a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
</div>
