<nav class="bg-light container-sm">
  <div class="navbar navbar-expand-lg navbar-light d-flex justify-content-between">
    <a class="navbar-brand" [routerLink]="'/'">Home</a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 
      flex-grow-0 to override the default behavior
      as it by default flex-grow
     -->
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse flex-grow-0">
      <div class="navbar-nav">

            @for (link of navLinks; track $index) {
            <a class="nav-item nav-link" [routerLink]="link.routeLink"
              routerLinkActive="active text-primary">{{link.label}}</a>
            }
        @if(authHelper.isLoggedIn|async){
        <div>
          <button class="btn px-0" (click)="logout()">Logout</button>
        </div>
        }
        @else {
          <a class="nav-item nav-link" [routerLink]="['/auth/login']"
              routerLinkActive="active text-primary">Login</a>
              <a class="nav-item nav-link" [routerLink]="['/auth/register']"
              routerLinkActive="active text-primary">Register</a>
        }
        
      </div>
    </div>
  </div>
</nav>