<div class="modal-header">
    <h2 class="modal-title">{{"Create_student"|translate}}</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="studentForm">
        <div class="row row-cols-md-2 gy-1 gx-0">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="FirstName" formControlName="FirstName"
                    placeholder="{{'First_name'|translate}}" />
                <label for="FirstName">{{"First_name"|translate}}</label>
                <div *ngIf="appHelper.checkIsControlTouchedOrDirty(studentForm.get('FirstName'))" class="d-flex flex-column">
                    @if(studentForm.get("FirstName")?.getError('required')){
                    <small class="text-danger">{{'First_name_is_required'|translate}}</small>
                    }

                    @if(studentForm.get("FirstName")?.getError('maxlength')){
                    <small class="text-danger">{{'Max_length_is_255_characters'|translate}}</small>
                    }
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="LastName" formControlName="LastName"
                    placeholder="{{'Last_name'|translate}}" />
                <label for="LastName">{{"Last_name"|translate}}</label>
                <div *ngIf="appHelper.checkIsControlTouchedOrDirty(studentForm.get('LastName'))" class="d-flex flex-column">
                    @if(studentForm.get("LastName")?.getError('required')){
                    <small class="text-danger">{{'Last_name_is_required'|translate}}</small>
                    }
                    @if(studentForm.get("LastName")?.getError('maxlength')){
                    <small class="text-danger">{{'Max_length_is_255_characters'|translate}}</small>
                    }
                </div>
            </div>
        </div>
        <div class="mb-3">
            <ngx-intl-tel-input cssClass="form-control py-3" [selectedCountryISO]="countryISO.Egypt"
                [enablePlaceholder]="true" [searchCountryFlag]="true" [maxLength]="15" [phoneValidation]="true"
                [(ngModel)]="Mobile" [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="studentForm.get('Mobile')?.setValue(Mobile?.e164Number)">
            </ngx-intl-tel-input>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="Email" formControlName="Email"
                placeholder="{{'Email'|translate}}" />
            <label for="Email">{{"Email"|translate}}</label>
            <div *ngIf="appHelper.checkIsControlTouchedOrDirty(studentForm.get('Email'))" class="d-flex flex-column">
                @if(studentForm.get('Email')?.invalid){
                <small class="text-danger">{{'Email_is_invalid'|translate}}</small>
                }

                @if(studentForm.get("Email")?.getError('maxlength')){
                <small class="text-danger">{{'Max_length_is_255_characters'|translate}}</small>
                }
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="NationalID" formControlName="NationalID"
                placeholder="{{'National_ID'|translate}}" />
            <label for="NationalID">{{"National_ID"|translate}}</label>

            <div *ngIf="appHelper.checkIsControlTouchedOrDirty(studentForm.get('NationalID'))" class="d-flex flex-column">
                @if(studentForm.get("NationalID")?.getError('maxlength')){
                <small class="text-danger">{{'Max_length_is_255_characters'|translate}}</small>
                }
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="Age" formControlName="Age"
                placeholder="{{'Age'|translate}}" />
            <label for="Age">{{"Age"|translate}}</label>
            @if(appHelper.checkTouchedOrDirtyAndRequiredError(studentForm.get('Age'))){
            <small class="text-danger">{{'Age_is_required'|translate}}</small>
            }
        </div>
    </form>
</div>
<div class="modal-footer">
    <button (click)="createStudent()" class="btn btn-primary py-3 w-100">
        {{'Create_student'|translate}}
    </button>
</div>