<div class="my-3">
  <h2 class="text-center">{{ "Login" | translate }}</h2>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="UserName"
      formControlName="UserName"
      [placeholder]="'Username' | translate"
    />
    <label for="UserName">{{ "Username" | translate }}</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(loginForm.get('UserName'))){
    <small class="text-danger">{{ "Username_is_required" | translate }}</small>
    }
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      id="Password"
      formControlName="Password"
      [placeholder]="'Password' | translate"
    />
    <label for="Password">{{ "Password" | translate }}</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(loginForm.get('Password'))){
    <small class="text-danger">{{ "Password_is_required" | translate }}</small>
    }
  </div>
  <button type="submit" class="btn btn-primary w-100 py-3">{{"Login"|translate}}</button>
</form>
