/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/intl-tel-input/build/css/intlTelInput.min.css");
@import url("@angular/material/prebuilt-themes/deeppurple-amber.css");

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


ngx-intl-tel-input {
    .iti {
        width: 100% !important;
    }
}

mat-snack-bar-container{
    text-align: center;
}

a, input{
    cursor: pointer;
}