<div class="my-3">
  <h2 class="text-center">{{"Register"|translate}}</h2>
</div>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="Name"
      formControlName="Name"
      [placeholder]="'Name'|translate"
    />
    <label for="Name">{{"Name"|translate}}</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(registerForm.get('Name'))){
    <small class="text-danger">{{"Name_is_required"|translate}}</small>
    }
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="UserName"
      formControlName="UserName"
      [placeholder]="'Username' | translate"
    />
    <label for="UserName">{{"Username"|translate}}</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(registerForm.get('UserName'))){
    <small class="text-danger">{{ "Username_is_required" | translate }}</small>
    }
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      id="Password"
      formControlName="Password"
      [placeholder]="'Password' | translate"
    />
    <label for="Password">{{ "Password" | translate }}</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(registerForm.get('Password'))){
    <small class="text-danger">{{ "Password_is_required" | translate }}</small>
    }
  </div>
  <button type="submit" class="btn btn-primary w-100 py-3">{{"Register"|translate}}</button>
</form>