<form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
class="d-flex flex-column gap-3">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="Name"
      formControlName="Name"
      placeholder="Name"
    />
    <label for="Name">Name</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(registerForm.get('Name'))){
    <small class="text-danger">Name is required</small>
    }
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="UserName"
      formControlName="UserName"
      placeholder="Username"
    />
    <label for="UserName">Username</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(registerForm.get('UserName'))){
    <small class="text-danger">Username is required</small>
    }
  </div>
  <div class="form-floating mb-3">
    <input
      type="password"
      class="form-control"
      id="Password"
      formControlName="Password"
      placeholder="Password"
    />
    <label for="Password">Password</label>
    @if(appHelper.checkTouchedOrDirtyAndRequiredError(registerForm.get('Password'))){
    <small class="text-danger">Password is required</small>
    }
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>